.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #23272b;

}

.card {
  width: 400px;
  min-height: 400px;
  padding: 16px;

}

